.App {
  text-align: center;
}

body
{
  background-color: rgb(208, 246, 208);
  display: flex;
            justify-content: center;  /* Horizontally center */
            align-items: center;      /* Vertically center */
            height: 100vh;            /* Full viewport height */
            margin: 0; 
}

p
{
  font-size:1.5rem;
  text-align: center;
  font-weight: 550;
}

#tagline
{
  background: linear-gradient(to  right, green, rgb(252, 6, 47), green);
  background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: 100;
  font-style: italic;
  color: green;
  font-size: 5rem; 
}

#img-resize
{
  border-radius: 50%;
  width: 30rem;
  height: 30rem;
}

.gkHead-flex
{
  display: flex;
  justify-content: center;
  align-items: center;
}

#gklogo
{
  width: 5rem;
  height: 5rem;
  border-radius: 50%;
}

#gkname
{
  display: flex;
  justify-content: start;
  align-items: center;
  font-style: italic;
  font-size: 3rem;
}

.gkNavBar
{
  display: flex;
  justify-content: space-around;
  font-size: 2rem;
}

a
{
  text-decoration: none;
  clip-path: polygon(0% 0%, 100% 0%, 100% 75%, 75% 75%, 75% 100%, 50% 75%, 0% 75%);
  height: 5rem;
}

a:hover
{
  color: red;
}

button
{
  width: 10rem;
  font-size: larger;
  background-color: green;
  color: white;
  cursor: pointer;
}

button:hover
{
    box-shadow: 0.5rem -0.1rem 2rem 0.3rem green;
}

#gkHome
{
  display: flex;
  justify-content: center;
  align-items: flex-start;
  width: 100%;
  /* height: 100rem; */
  padding-top: 5rem;
}

#gkTagLine
{
  font-weight: bolder;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: large;
  position: relative;
  top: 1rem;
}

#postSnapShotLayout
{
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 2rem solid pink;
  height: 30rem;
}

#snapShotPlaceholder
{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 30%;
  height: 100%;
  /* margin: 3rem; */
  /* border: 1px solid black; */
}

#snapShotPlaceholder:hover
{
  cursor: pointer;
  background-color: gold;
  box-shadow: 1rem 1rem 1rem gray;
  width: 100%;
  border-radius: 5rem;
  font-size: 2rem;
  /* height: 100rem; */
}

#postDesc
{
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: auto;
  height: 15rem;
  border: 0.3rem inset darkblue;
  border-radius: 3rem;
}

#postDescImg
{
  width: 15rem;
  height: 15rem;
  border-radius: 50%;
  /* border: 1px solid red; */
}

#postDescFontSize
{
  font-size: 1.2rem;
  width: 20%;
}
.postMainLayout
{
  display: flex;
  flex-direction: column;
}

.postDate
{
  color: darkred;
}

.postLayout
{
  background-color: rgb(5, 138, 138);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: self-start;
  box-shadow: 0.5rem 0.5rem 1rem rgb(5, 138, 138);
  width: 45%;
  align-self: center;
  margin: 1rem;
  padding: 1rem;
  border-radius: 5rem 0 5rem 0;
}

.postHead
{
  margin: 0;
  /* color: white; */
  font-size: 4rem;
  /* font-style: italic; */
}

#postStar
{
  font-size: 2rem;
  color: yellow;
  margin: 0;
}

.postColor
{
  color: white;
  font-style: italic;

}

.postTitle
{
  display: flex;
  flex-direction: column;
  height: auto;
  width: 100%;
  /* border: 1px solid black; */
  justify-content: flex-start;
  align-items: flex-start;
}

.titleImg
{
  display: flex;
  justify-content: space-between;
  width: 100%;
  /* border: 1px solid red; */
}

#postImg
{
  width: 10rem;
  height: 10rem;
  border-radius: 50%;
  border: 0.5rem double yellow;
}

.postFont
{
  font-size: 3rem;
}

#postTitle
{
  font-size: 3rem;
  font-style: italic;
  font-weight:450;
}
li
{
  text-align: left;
  font-size: 1.5rem;
}

#postNote
{
  color: red;
  text-shadow: 0.5rem 0.5rem 1rem red;
}

.navigatePost
{
  display: flex;
  justify-content: space-evenly;
}

#recipeLayout
{
  display: flex;
  flex-direction: column;
  font-size: 2rem;
  /* justify-content: center; */
  align-items: center;
}

#addRecipe
{
  background-color: rgb(255, 72, 0);
  box-shadow: 1px 1px px gray;
  border-radius: 1rem;
}

form div
{
  margin: 1rem;
  /* width: 100%; */
  background-color: antiquewhite;
}

caption
{
  font-style: italic;
  font-size: 3rem;
  font-weight: bold;
}
label
{
  display: inline-block;
  width: 10rem;
}

input
{
  height: 1.5rem;
  width: 15rem;
}

fieldset
{
  display: inline-block;
  /* width: 100%; */
  background-color: azure;
  border-radius: 5rem 0 5rem 0;
}

legend
{
  font-weight: bold;
  text-align: right;
  font-size: 1.5rem;
  color: brown;
}

#addIng
{
  display: block;
  background-color: rgb(194, 240, 241);
  width: auto;
  height: 2rem;
}

#recipeImgLayout
{
  display: flex;
  justify-content: center;
  align-items: center;
}

#recipeImg
{
  display: inline-block;
  width: 10rem;
  height: 10rem;
  border-radius: 50%;
  background-color: aquamarine;
}

#recipeSubmit
{
  background-color: brown;
  border-radius: 1rem;
  margin-top: 1rem;
  align-self: center;
}

#congrats
{
  font-size: 10rem;
  color: rgb(4, 252, 4);
}
#addRecipeLayout
{
  display: inline-block;
  width: 50vw;
  height: 50rem;
  background-color: gold;
  border-radius: 5rem;
}

.nav-link:hover
{
  text-shadow: 0.5rem 0.5rem 0.5rem black;
}
#btn
{
  display: flex;
  width: 10rem;
  height: 5rem;
  justify-content: space-between;
  /* border: 1px solid black; */
}

.postNavigationSpan
{
  font-weight: bold;
  font-size: large;
}
#arrowRight
{
  align-self: center;
  width: 3rem;
  height: 2rem;
  border-radius: 1rem;
}

#arrowRight:hover
{
  cursor: pointer;
  color: white;
  text-shadow: 0rem 0rem 0.5rem rgb(3, 85, 3);
}

.comment
{
  
  width: 98%;
  height: 35rem;
  background-color: whitesmoke;
  text-align: left;
  padding-left: 1rem;
  border-radius: 0 0 4rem 0;
}


#cmtTag
{
  font-style: italic;
  font-size: smaller;
  opacity: 0.1px;
  text-align: left;
}

#cmtBtn
{
  background-color: red;
}

#cmtBtn:hover
{
  cursor: pointer;
  box-shadow: none;
}
form
{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 25rem;
}




/* Mediaqueries */




@media screen and (max-width:950px) 
{
  .gkHead-flex
{
  display: flex;
  margin-bottom: 1rem;  
}

#gklogo
{
  width: 5rem;
  height: 5rem;
  border-radius: 50%;
}

#gkname
{
  display: flex;
  justify-content: start;
  align-items: center;
  font-style: italic;
  font-size: 2rem;
}

#gkTagLine
{
  font-weight: bolder;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: x-small;
  position: relative;
  top: 1rem;
}
.gkNavBar
{
  height: 15rem;
  width: 10rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#postSnapShotLayout
{
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1rem solid pink;
  height: auto;
}

#snapShotPlaceholder
{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 30rem;
  /* margin: 3rem; */
  border: 1px solid black;
}

#postDesc
{
  display: flex;
  /* flex-direction: column; */
  justify-content: space-around;
  align-items: center;
  width: 90%;
  height: auto;
  /* border: 0.2rem inset darkblue; */
  border-radius: 3rem;
}

#postDescImg
{
  width: 10rem;
  height: 10rem;
  border-radius: 50%;
  /* border: 1px solid red; */
}

#postDescFontSize
{
  font-size: 1rem;
  width: 20%;
}

#postTitle
{
  font-size: 2rem;
}

.postTitle
{
  /* border: 1px solid red; */
  display: flex;
  flex-direction: column;
  justify-content: start;

}

.postDate
{
  color: darkred;
  padding:0;
}
button
{
  box-shadow: none;
}

p
{
  font-size: large;
  text-align: justify;
  padding: 1rem;
}

.postMainLayout
{
  display: flex;
  flex-direction: column;
}

.postLayout
{
  background-color: rgb(5, 138, 138);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: self-start;
  box-shadow: 0.5rem 0.5rem 1rem rgb(5, 138, 138);
  width: 80%;
  align-self: center;
  margin: 1rem;
  padding: 1rem;
  border-radius: 5rem 0 5rem 0;
}

.postHead
{
  margin: 0;
  font-size: 2rem;
}

#postStar
{
  font-size: 1rem;
  color: yellow;
  margin: 0;
}

.postColor
{
  color: white;
  font-style: italic;

}

.postFont
{
  font-size: 2rem;
}

#postImg
{
  width: 6rem;
  height: 6rem;
  border-radius: 50%;
  border: 0.5rem double yellow;
}

li
{
  text-align: left;
  font-size: 1rem;
}

#postNote
{
  color: red;
  text-shadow: 0.5rem 0.5rem 1rem red;
}
}